<pre>{{ api$ | async | json }}</pre>

<h1>Welcome {{title}}</h1>

<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Number</mat-label>
    <input type="text"
           placeholder="Pick one"
           aria-label="Number"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>


<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <label>
    Usuário
    <input type="text" formControlName="username" />
    <output *ngIf="hasError('username', 'required')">
      Usuário obrigatório
    </output>
    <output *ngIf="hasError('username', 'minLength')">
      Usuário muito curto
    </output>
  </label>
  <label>
    Senha
    <input type="password" formControlName="password" />
    <output *ngIf="hasError('password', 'required')">
      Senha obrigatória
    </output>
    <output *ngIf="hasError('password', 'minLength')">
      Senha muito curta
    </output>
  </label>

  <button>Enviar</button>
</form>

<pre>{{ form.value | json }}</pre>
<pre>{{ form.controls.username.errors | json }}</pre>
<pre>{{ form.controls.password.errors | json }}</pre>

<router-outlet></router-outlet>
